.side-nav-link-ref.active .bg-primary{
    color:#6f62e7;
    background-color:#fff;
}
.spinner-grow {
    width: .75rem !important;
    height: .75rem !important;
}
.mm-active >.spinner-grow >.text-success{
    color: #fff !important;
}